[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = {extras = ["aws", "encryption", "gssapi", "ocsp", "srv", "zstd"], version = "*"}
dnspython = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytz = "*"
typing-extensions = "*"
pyjwt = "==2.0.1"
bcrypt = "*"
python-decouple = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.10"
