{% extends 'basetemplate.html' %}

{% load static %}

{% block links %}
<link href="{% static 'main.css' %}" rel="stylesheet">
{% endblock links %}

{% block style %}
      body {
        background-image: linear-gradient(
            180deg, rgba(248,249,250,1) 0%, rgba(65,119,177,1) 49%, rgba(1,89,186,1) 100%
          ),
          url("#");
        background-attachment: fixed;
        /*Hace que la imagen quede fija y no se mueva con el contenedor*/
        background-repeat: no-repeat;
        background-size: cover;
      }
{% endblock style %}

{% block content %}
    <!-- header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-t">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">E-ntrenate</a>
      </div>
    </nav>
    <!-- /header-->
    <div class="container-form" >
      <section class="container">
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3 mt-3 ">
            <div class="content-section p-4 border border-secondary rounded" id="login-content">
              <form class="">
                <legend class="border-bottom mb-3">
                    Regístrate a E-ntrenate
                </legend>
                <div class=" mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre</label>
                  <input type="text" class="form-control" aria-label="Nombre" aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                  </div>

                </div>
                <button type="submit" class="btn btn-outline-primary mb-3">Enviar</button>
              </form>
              <div class="border-top pt-3">
                <small class="text-muted">
                  Si ya tienes una cuenta, mejor
                  <a class="ml-2" href="{% url 'authentication:login' %}"
                    >Inicia Sesion</a
                  >
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
{% endblock content %}
